%----------HEADING----------
\begin{center}
    \textbf{\Huge {{ full_name | latex_escape }}} \\ \vspace{1pt}
    \small {{ contact_latex | safe }}
\end{center}

%-----------SUMMARY-----------
\section{Professional Summary}
\noindent {{ summary | latex_escape }}

%-----------TECHNICAL SKILLS-----------
{% if skills %}
\section{Technical Skills}
{\small
{% for category, items in skills.items() %}
\noindent\textbf{ {{- category | latex_escape -}} }: {{ items | join(", ") | latex_escape }}\par
{% endfor %}
}
{% endif %}

%-----------EXPERIENCE-----------
\section{Work Experience}
  \resumeSubHeadingListStart
{% for exp in experiences %}
   \resumeSubheading
      { {{- exp.title | latex_escape -}} }{ {{- (exp.start_date ~ " -- " ~ exp.end_date) | latex_escape -}} }
      { {{- exp.company | latex_escape -}} }{ {{- exp.location | latex_escape -}} }
      \resumeItemListStart
{% for bullet in exp.bullets %}
        \resumeItem{ {{- bullet | latex_escape -}} }
{% endfor %}
      \resumeItemListEnd

{% endfor %}
  \resumeSubHeadingListEnd

%-----------EDUCATION-----------
{% if education %}
\section{Education}
  \resumeSubHeadingListStart
{% for edu in education %}
    \resumeSubheading
      { {{- edu.institution | latex_escape -}} }{ {{- edu.year | latex_escape -}} }
      { {{- edu.degree | latex_escape -}} }{}
{% endfor %}
  \resumeSubHeadingListEnd
{% endif %}

\end{document}
